# Core Python packages
numpy~=1.26
pandas~=2.2.3
scikit-learn~=1.7.2
matplotlib==3.10.6
joblib

# MLflow
mlflow==2.21.0

# Testing
pytest==7.1.2
pytest-cov==4.1.0

# Azure ML SDK (v2)
azure-ai-ml==1.16.0
azure-identity==1.16.0

#logging into Azure and handling CLI connections
azure-cli-core==2.80.0